body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header_wrapper {
    width: 100%;
    background-color: blanchedalmond;
}

header {

    background: #515050;
    padding: 7px;
    color: aqua;
    }
.left_content{
   width: 50%;
    float: left;
    margin-top: -7px;
}

.navbar {
  text-align: right;
    padding: 10px;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: crimson;
}

.text:hover {
    color: crimson;
}

/*Banner CSS*/
.banner-area {
    background: #3eaf8e;
    height: 500px;
}

.profile-content {
    text-align: center;

}

.profile img {
    margin-top: 50px;
}

.paragraph {
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
}

.paragraph p {
    text-transform: lowercase;
}



/*Banner CSS2 start*/

service_area {}

.container {

    width: 1140px;
    margin: auto;

}


.title_bar {
    text-align: center;
    margin-top: 20px;

}

.title_bar h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

.services img {
    height: 200px;
    width: 250px;
    padding-top: 10px;
}

.services {

    text-align: center;
    display: ;
    margin-top: 30px;

}




.service_one {
    width: 26%;
    background: white;
    text-align: center;
    margin: 10px;

    display: inline-block;
    transition: all .5s;
}


.service_one:hover {
    transform: translateY(-30px);

}

.title_bar h2 {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.title_bar h2::before {
    content: "";
    width: 40px;
    height: 4px;
    background: #FF5722;
    position: absolute;
    left: 0px;
    top: 12px;
}


.title_bar h2::after {
    content: "";
    width: 40px;
    height: 4px;
    background: #FF5722;
    position: absolute;
    right: 0px;
    top: 12px;

}

/* about area*/

.about_area {
    background: #3eaf8e;
    height: 400px;
    text-align: center;
}

.title_bar-2 {
    padding-top: 50px;

}


.left_side {

    width: 40%;
    margin-top: 10px;
    padding: 5px;
    margin: 10px;
    float: left;
}

.right_side {
    width: 40%;
    position: relative;
    margin: 10px;
    padding: 5px;
    float: right;
}

/*contact area*/

.contact-area {
    background: ;
    height: 500px;
    text-align: center;
}



/*last banner*/



.last-banner {
    background-color: #6e6d6d;
    height: 350px;
}

.footer {


    padding-right: 5px;
    width: 30%;
    height: 200px;
    display: inline-block;
    margin-top: 70px;
    text-align: center;
    color: white;

}
.wrapper_icon{
    display:block;
}
.icon_1{
    display: inline-block;
    padding: 5px;
    
}
.icon_1 i {
    color: white;
    margin: 10px 10px;
    border: 1px solid #fff;
    width: 40px;
    
    line-height: 40px;
    text-align: center;
    border-radius: 60%;
}

/*footer */

.end-footer {
    text-align: center;
    background: black;
    color: white;
    height: 40px
}

p {
    padding: 10px;
    margin-top: 0px;
}
